<div class="container">
	<div class="col-sm-3"></div>
	<div class="col-sm-6">
	<h1 style="text-align:center">About</h1>
	
	</p>The Bullshit Generator is an open-source project inspired by the Table of Bullshit, a list of interchangeable verbs, adjectives, and nouns. I first compiled the words while working as a copy editor at the international department of China's state-run Xinhua News Agency. These sorts of inane, meaningless, throw-away vagueries littered the copy of TV scripts that I was required to edit. The Table of Bullshit was a way to vent my frustration while showing my colleagues how not to write.</p>
	<p>Later on, I was brainstorming simple coding projects so I could teach myself Nodejs. The Bullshit Generator is the first such project. For those of you looking into the Github repository, you might notice the app is way more complicated than it needs to be. That's intentional, for my own education.</p>
	<p>I hope to work on more projects in the future, but seeing as I tend to burn out quickly, it could be the first and last. In any case, I invite you to follow me <a href="https://twitter.com/pabischoff">on Twitter</a> and donate with Paypal or Bitcoin to keep The Bullshit Generator up and running. Thanks for your support!</p>
	<img src="/images/table of bullshit.jpg" alt="table of bullshit" width="100%"/>
	</div>
</div>
