

<title>IRBS</title>


<div class="container">
	<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6 vertical-center" style="background-color:LightCyan !important">
		<div class="row" >
			<center>
				<h1 style="padding: 20px; font-size:800%">IR<span style="font-weight:bold; color:#4C1A00">BS</span></h2>
				<button onclick="output(verbs, adjectives, nouns)" class="btn btn-success btn-lg" style="margin: 20px">Generate Bullshit</button>
			</center>

			<center><h2 id="bshere">International Relations Bullshit Generator</h2></center>

				<p id="bsheretoo" style="padding-bottom:20%; text-align:center"></p>

				<hr />
	<div class="row" style="text-align:center">
		<div class="fb-like" data-href="https://placeholder.bullshitgenerator.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://placeholder.bullshitgenerator.com" data-via="pabischoff">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<script src="http://coinwidget.com/widget/coin.js"></script>
				<script>
				CoinWidgetCom.go({
					wallet_address: "14mPuyriuRH1fLruAK7BpFcHXTKoc7PSab"
					, currency: "bitcoin"
					, counter: "hide"
					, alignment: "bl"
					, qrcode: true
					, auto_show: false
					, lbl_button: "Donate"
					, lbl_address: "My Bitcoin Address:"
					, lbl_count: "donations"
					, lbl_amount: "BTC"
				});
				</script>
				
				
			</div>
		</div>
	</div>
	</div>
	<div class="col-lg-3"></div>
	</div>




<script>

var verbs = <%- JSON.stringify(verbs) %>
var adjectives = <%- JSON.stringify(adjectives) %>
var nouns = <%- JSON.stringify(nouns) %>
var examples = <%- JSON.stringify(examples) %>

</script>
<script src="/javascripts/output.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
