<!DOCTYPE html>
<html>
  <head>
        <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	
	<meta name="Bullshit Generator" content="Randomly generates 3-word bullshit phrases used in international relations, corporate PR, and state-run media." >
  </head>
  <body>

	<%- body %>
<div class="row" style="text-align:center">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		

		<ul>
			<li><a href="/">Home</a></li>	
			<li> | </li>	
			<li><a href="testimonials">Testimonials</a></li>
			<li> | </li>
			<li><a href="about">About</a></li>
			<li> | </li>
			<li><a href="https://github.com/pabischoff/bullshitgenerator">Github</a></li>
		</ul>
		</div>
	</div>

</div>



	<script src = "/javascripts/bootstrap.min.js"></script>
	</body>
</html>	
