
<div class="container">
	<h1 style="text-align:center"> Testimonials </h1>
	<hr />
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<p>"My day-to-day work writing copy for the website is now a breeze thanks to Bullshit Generator. Now I can enjoy all the free coffee and snacks without stressing out over my word count!"</p>
			<p style="float:right"><em>Theresa Smatherington, Intern, Brookings Institution</em></p>
		</div>
		<div class="col-sm-2">
			<img src="/images/theresa smatherington.jpg" alt="Theresa Smatherington" class="roundpic" />
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-2">

			<img src="/images/jennifer mingham.jpg" alt="Jennifer Mingham" class="roundpic" />
		</div>
		<div class="col-sm-6">
			<p>"My job is to publicize everything we do while offending as few people as possible. Bullshit Generator makes it easy to use language so vague that most people just zone out and gloss over it. Ten out of ten!"</p>
			<p style="float:right"><em>Jennifer Mingham, Public Relations, Amnesty International</em></p>
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
			<p>"Even though I have tenure, I'm still expected to regularly publish academic papers to keep in good scholarly standing. This used to be so time consuming, but the Bullshit Generator expedites the process while convincing my peers that my research still has substance."
			<p style="float:right"><em>Sam Baker, Professor of International Studies, Northwestern University</em></p>
		</div>
		<div class="col-sm-2">
			<img src="/images/sam baker.jpeg" alt="Sam Baker" class="roundpic" />
		</div>
	</div>

	<hr />

	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-2">
			<img src="/images/ban ki moon.jpg" alt="Ban Ki Moon" class="roundpic" />
		</div>
		<div class="col-sm-6">
			<p>"As someone who must give empty speeches on an almost daily basis, the Bullshit Generator is an invaluable tool. Without it, our recent 47-nation treatise on environmental protection during wartime would have never come about."</p>
<p style="float:right"><em>Ban Ki Moon, Secretary-General, United Nations</em></p>
		</div>
	</div>
	<hr />
</div>


